
<section class="signlog">
    <p>Please Sign up and then log in! <br> If you have already an account please Log in!</p>
    <h2> Sign Up </h2>
    
    <div class="signupcontainer">
        <form action="/signup" method="post">
            <div>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button class="myButton"> Sign Up! </button>
            {{!-- {{#if errorMessage}}
                <p class="error-message">{{ errorMessage }} </p>
            {{/if}} --}}
        </form>
        {{!-- <p>Already have an account? Please, log in!</p> --}}
    </div>
    <h2> Log In </h2>
    <div class="logincontainer">
        <form action="/login" method="post">
            <div>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button class="myButton"> Log In </button>
        </form> 
    </div>
    {{#if errorMessage}}
            <p id="error-message">{{ errorMessage }}</p>
    {{/if}}
</section>