<h2>HOME VIEW</h2>

<img class="logo" src="../images/Logo.png" alt="LOGO"> 
<p>Gift me!</p>



{{#if isUserLoggedIn  }}
  <p> Hello, {{ currentUserInfo.name }}. </p>
{{/if}}
<nav>
  <ul>
    {{#if isUserLoggedIn  }}
     <li> <a href="/profile"> Profile </a> </li>
      <li> <a href="/myitems"> My Items</a> </li>
          
     <li> <a href="/marketplace"> Marketplace</a> </li>
  
      <li> <a href="/logout"> Log Out </a> </li>
    {{else}}
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>









