
{{#if isUserLoggedIn  }}
  <p class="greet"> Hello, {{ currentUserInfo.name }} ! </p>
{{/if}}
<nav class="navHome">
  
    {{#if isUserLoggedIn  }}
      <button ><a href="/profile"> Profile </a></button> 
      <button><a href="/myitems"> My Items</a> </button>   
      <button><a href="/marketplace"> Marketplace</a> </button>
      <button><a href="/logout"> Log Out </a> </button>
    {{else}}
      <div class="homephrase">
        <a id="enter" href="/signuplogin"> Welcome, to start sharing, please click here! </a>
        <a href="/signuplogin" alt="logoheart"><img src="../images/heart.png" height="80px"</a>
      </div>
    {{/if}}
  
</nav>



<script src="../src/modal.js"></script>





