


{{#if isUserLoggedIn  }}
  <p class="greet"> Hello, {{ currentUserInfo.name }} ! </p>
{{/if}}
<nav class="navHome">
  
    {{#if isUserLoggedIn  }}
      <button ><a href="/profile"> Profile </a></button> 
      <button><a href="/myitems"> My Items</a> </button>   
      <button><a href="/marketplace"> Marketplace</a> </button>
      <button><a href="/logout"> Log Out </a> </button>
    {{else}}
      <button><a href="/signup"> Sign Up </a></button> 
      <button><a href="/login"> Log In </a> </button>
    {{/if}}
  

 
</nav>











