

<img src="" alt="LOGO"> 
<p>Gift me!</p>

{{#if}}

<div>

<a href="">City</a> 
<a href="">Category</a> 

</div>

<div>
<a href="">Profile</a>
<a href="">My Items</a>
<a href="">Favorites</a>

</div>

{{else}}

<a href="">Login</a> 
<a href="">Signup</a> 





{{/if}}