<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src="../images/logito.png" alt="logoImage" class="logo">
    </header>

    {{{body}}}

    <footer class="navbar">
      <a href="/"><img src="../images/pngwing.com.png" alt="logoHome"></a>
      <a href="/myitems"><img src="../images/star.png" alt="logoMyItems"></a>
      <a href="/profile"><img src="../images/user.png" alt="logoProfile"></a>
    </footer>
  </body>

</html>


