<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="upnav">
      <a href=""><img src="../images/pngegg.png" alt="logoReturn"></a>
      <img src="../images/Logo.png" alt="logoImage">
      <a href=""><img src="../images/user-icon3.png" alt="logoProfile"></a>
    </header>

    {{{body}}}

    <footer class="downnav">
      <a href=""><img src="../images/pngwing.com.png" alt="logoHome"></a>
      <a href=""><img src="../images/star.png" alt="logoMyItems"></a>
    </footer>
  </body>

</html>


