<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href=""><img src="" alt="logoReturn"></a>
      <img src="" alt="logoImage">
      <a href=""><img src="" alt="logoProfile"></a>
    </header>

    {{{body}}}

    <footer>
      <a href=""><img src="" alt="logoHome"></a>
    
      <a href=""><img src="" alt="logoMyItems"></a>
    </footer>
  </body>

</html>


