* {
  margin: 0 auto;
}
/* GENERAL */

html {
  background-color: #ffffff;
  background-image: url("../images/backgrounds/45degreee_fabric.png");
}
body {
  
  font-family: 'Josefin Sans', sans-serif;
}

.logoarrow {
  margin-left: 10px;
  height: 20px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e08c86 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #ccbbba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e08c86 5%, #fc8d83 100%);
	background-color:#e08c86;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* LAYOUT HEADER */
.logo {
  height: 130px;
  display: flex;
  align-items: center;
}

/* LAYOUT NAVBAR */
footer {
  display: flex;
  justify-content: space-around;
}
footer img {
  height: 25px;
}


/*HOME*/

.modallogsign input {
  font-size: 1rem;
}
.greet {
  font-size: 1.75rem;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.navHome {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.navHome button {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 10%;
  background-image: url("../images/backgrounds/leather_1.png");
  filter: drop-shadow(0 0 0.50rem rgb(156, 151, 152));
}
.navHome a {
  text-decoration: none;
  color: black;
  font-size: 1rem; 
}
.homephrase img {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.homephrase {
  margin: 30% 10%; 
}

#enter { 
  font-size: 1.3rem;
  text-align: justify;
  
}

/*SIGNLOGIN*/
.signlog{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.signupcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.signlog input {
  margin: 9px 0;
}

.signlog h2 {
  margin-bottom: 10px;
  
}

.signlog p {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}


/* MYITEMS*/
.h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.nametag {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.divitem {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
  padding-bottom: 30px;
  
}
.divitem img {
  height: 200px;
  filter: drop-shadow(0 0 0.75rem rgb(82, 80, 81));
}
.divitem p {
  font-size: 1rem;
  margin-top: 40px;
  margin-bottom: 20px; 
}
.descript {
  font-size: 1rem;
  margin-top: 40px;
  margin-bottom: 20px; 
}

.custom-file-input-mi {
  color: transparent;
  
}
.custom-file-input-mi::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-mi::before {
  text-align: center;
  content: 'Upload an image';
  color: rgb(255, 255, 255);
  display: inline-block;
  background:  #828ea8;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-weight: 700;
  font-size: 10pt;
  margin-left: 30%; 
}
.custom-file-input-mi:hover::before {
  border-color: black;
}
.custom-file-input-mi:active {
  outline: 0;
}
.custom-file-input-mi:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.button {
  background-color: #61abe7;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 40%;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.addForm {
  margin-top: 40px;
  text-align: center;
}

.addForm p {
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-align: center;
}

.form-div {
  margin-top: 30px 0;
  display: flex;
  flex-direction: column;
}



/* MARKETPLACE VIEW */

.marketitems {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
  
}
.marketitems img {
  height: 200px; 
  filter: drop-shadow(0 0 0.75rem rgb(156, 151, 152));
}
.marketitems h3 {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
}


/*PROFILE VIEW*/

.profile img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  filter: drop-shadow(0 0 0.75rem rgb(156, 151, 152));
  margin-top: 8%;
}
 .container {
   display: flex;
   flex-direction: column;
   margin-bottom: 5%;
 }

 #inputfile {
  display: block;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 8%; 
}

.custom-file-input {
  color: transparent;
  
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select a photo';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}


/*OTHER USER*/
.h2-style{
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px; 
}

.name-style{
  text-align: center;  
  margin: 10px;
}

.description-style{
  margin: 10px;
  text-align: center;
}

.img-user-other {
  /* height: 200px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  filter: drop-shadow(0 0 0.75rem rgb(156, 151, 152));
}


/*ITEM DETAILS*/

.img-item-style{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 50%;
  height: 50%;
  filter: drop-shadow(0 0 0.75rem rgb(156, 151, 152));
  
}

.item-style{
  display:block;
  margin:auto;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
}
 
.links{
margin-top: 20px;
font-size: 15px; 
}


/*REQUEST*/

#theimg {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 70%;
  height: 70%; 
}

.request img {
  width: 50%;
  height:50%;
}
#deliveryp {
  font-size: 1.25rem;
}
.request p {
  font-size: 1.35rem;
  margin-top: 40px;
  margin-bottom: 20px; 
  text-align: center;
}

.radio {
  align-content: flex-start;
  margin: 10px;
}

.form-style{
  text-align: center;
  align-content: flex-start;
}
.modal img {
  height: 100px;
  margin-top: 20px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width:50%;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

/*SIGNUP+LOGIN*/
/* form {
  width: 60%;
  margin: 60px auto;
  background: #efefef;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
label {
  display: block;
  position: relative;
  margin: 40px 0px;
}
.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}
.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}
.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #8BC34A;
  transition: ease .6s;
}
.input:focus + .line-box .line {
  width: 100%;
}
.label-active {
  top: -3em;
}
button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}
button:hover {
  background: #8BC34A;
  color: #ffffff;
}
11:25 */














@media (min-width: 768px) { 

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) { 
  
}