* {
  margin: 0 auto;
}
/* GENERAL */

html {
  
  background-image: url("../images/backgrounds/45degreee_fabric.png");
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

.logoarrow {
  margin-left: 10px;
  height: 20px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e08c86 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #ccbbba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
  margin-top: 10px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e08c86 5%, #fc8d83 100%);
	background-color:#e08c86;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* LAYOUT HEADER */
.logo {
  height: 130px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* LAYOUT NAVBAR */
footer {
  
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
footer img {
  height: 25px;
}

.navbar {
  overflow: hidden;
  background-color: rgba(252, 252, 252, 0.192);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}



/*HOME*/

.modallogsign input {
  font-size: 1rem;
}
.greet {
  font-size: 1.75rem;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.navHome {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  
}
.navHome button {
  margin-top: 20px;
  padding: 8px 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.596);
  filter: drop-shadow(0 0 0.50rem rgb(156, 151, 152));
  
}
.navHome a {
  text-decoration: none;
  font-size: 1rem; 
  color:white;
}
.headerImage {
  background-image: url("../images/carousel/foto-home.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 0;
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
.headerImage button {
  display: flex;
  flex-direction: column;
  align-items:  center;
  padding-top: 10px;
 
}
.homephrase img {
  display: flex;
  /* margin-top: 10%; */
  height: 360px;
  
}
.homephrase {
  margin-top: 8%;
  object-fit: cover;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.507);
  text-align: center;
}

.homephrase p {
  margin-top: 20px;
}
#enter { 
  font-size: 1.5rem;
  text-align: justify;
  color: black;
  text-decoration: none;
  padding-top: 10px;
}

/*SIGNLOGIN*/
.signlog{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
#error-message {
  margin-bottom: 10px;
  color: red;
  background-color: rgba(255, 255, 255, 0.37);
  font-size: 0.85rem;
  margin-top: -8px;
}

#error-messagemi {
  margin-bottom: 10px;
  color: red;
  
  font-size: 0.85rem;
  margin-top: 10px;
}
.signupcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.signlog input {
  margin: 4px 0;
}

.signlog h2 {
  margin-bottom: 10px;
  
}

.signlog p {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.signlog button {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}


/* MYITEMS*/
.h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.itemForm h4 {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.form-div textarea {
  margin-top: 10px;
}
.nametag {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.divitem {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
  padding-bottom: 30px;
  
}
.divitem img {
  height: 200px;
  filter: drop-shadow(0 0 0.75rem rgb(82, 80, 81));
}
.divitem p {
  font-size: 1rem;
  margin-top: 40px;
  margin-bottom: 20px; 
}
.descript {
  font-size: 1rem;
  margin-top: 40px;
  margin-bottom: 20px; 
}

.custom-file-input-mi {
  color: transparent;
  
}
.custom-file-input-mi::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-mi::before {
  text-align: center;
  content: 'Upload an image';
  color: rgb(255, 255, 255);
  display: inline-block;
  background:  #828ea8;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-weight: 700;
  font-size: 10pt;
  margin-left: 30%; 
}
.custom-file-input-mi:hover::before {
  border-color: black;
}
.custom-file-input-mi:active {
  outline: 0;
}
.custom-file-input-mi:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.button {
  background-color: #61abe7;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 40%;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.addForm {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 150px;
}

.addForm p {
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-align: center;
}

.form-div {
  margin-top: 30px 0;
  display: flex;
  flex-direction: column;
}



/* MARKETPLACE VIEW */

.marketitems {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
  margin-bottom: 150px;
  
}
.marketitems img {
  height: 200px; 
  filter: drop-shadow(0 0 0.75rem rgb(156, 151, 152));
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}
.marketitems h3 {
  font-size: 1rem;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}


/*PROFILE VIEW*/
.profile button {
  
  margin-top: 20px;
}

.profile label {
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  filter: drop-shadow(0 0 0.75rem rgb(156, 151, 152));
  margin-top: 8%;
  padding: 8px 0;
}
 .container {
   display: flex;
   flex-direction: column;
   margin-bottom: 150px;
 }

 #error-messagep {
  margin-bottom: 100px;
  color: red;
  font-size: 0.85rem;
  margin-top: 10px;
  
}


/*OTHER USER*/
.h2-style{
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px; 
}

.name-style{
  text-align: center;  
  margin: 10px;
}

.description-style{
  margin: 10px;
  text-align: center;
}

.img-user-other {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  filter: drop-shadow(0 0 0.75rem rgb(156, 151, 152));
}
.otherudata {
  margin-bottom: 150px;
  background-color: rgba(255, 255, 255, 0.507);
  padding-top: 20px;
  padding-bottom: 20px;
}

/*ITEM DETAILS*/

.img-item-style{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 50%;
  height: 50%;
  filter: drop-shadow(0 0 0.75rem rgb(156, 151, 152));
}

.item-style{
  display:block;
  margin:auto;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
  margin-bottom: 150px;
}
 
.item-style p{
  margin: 10px;
  padding-bottom: 20px;
}
.links{
padding: 20px 0;
font-size: 15px; 
}
.links a {
  color: white;
  text-decoration: none;
}


/*REQUEST*/

#theimg {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 70%;
  height: 70%; 
  margin-top: 20px;
}
.form-style button {
  display: flex;
  justify-content: center;
}
.request img {
  width: 50%;
  height:50%;
}
#deliveryp {
  font-size: 1.25rem;
  text-align: center ;
}
.request p {
  font-size: 1.35rem;
  margin-top: 10px;
  margin-bottom: 10px; 
  text-align: center;
}
.radio label {
  margin-bottom: 5px;
}
.radio {
  align-content: center;
  margin: 8px;
}

.form-style1{
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.modal img {
  height: 100px;
  margin-top: 20px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width:50%;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}


@media (min-width: 820px) { 

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) { 
  
}