* {
  margin: 0 auto;
}
/* GENERAL */

html {
  background-color: #ffffff;
  background-image: url("../images/backgrounds/45degreee_fabric.png");
}
body {
  padding: 50px;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #00B7FF;
}


/* LAYOUT HEADER */
header img {
  height: 200px;
  display: flex;
  justify-content: center;
}

header {
  width: 100%
}

/* LAYOUT NAVBAR */
footer {
  display: flex;
  justify-content: space-around;
}
footer img {
  height: 40px;
}
.navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ffffff;
  color: black;
}

.navbar a.active {
  background-color: #ffffff;
  color: white;
}

/* MYITEMS*/
.h2myitems {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
  
}
.divitem {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
}
.divitem img {
  height: 200px;
  
}



/* MARKETPLACE VIEW */
.h2market {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
  
}
.marketitems {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
}
.marketitems img {
  height: 200px;
  
}
.marketitems p {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
  
}


/* .imgMarket{
  
  display: flex;
	flex-direction: row;
	flex-wrap: row wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

} */



/*PROFILE VIEW*/
.profile-pic{
  height: 300px;
}

.input {
border-style: none;
}

/*PROFILE*/
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select a photo';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

/* body {
  padding: 20px;
} */

/*OTHER USER*/

.h2-style{
  text-align: center;
  padding: 100px 0;
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.name-style{
  font: 65px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 100px
}

.description-style{
  font: 45px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.img-user{
  display:block;
  margin:auto;
  justify-content: center;
  align-items: center;
  width: 900px;
  height:700px;
  
 
}


/*ITEM DETAILS*/


.h2-style{
  
  text-align: center;
  padding: 100px 0;
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.img-item-style{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.item-style{
  display:block;
  margin:auto;
  align-items: center;
  width: 700px;
  height:700px;
  padding-top: 100px;
  font: 45px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
 


.links{
margin-top: 200px;
  font-size: 40px;
  
}


/*REQUEST*/


.h2-style{
  text-align: center;
  padding: 100px 0;
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}


.img-request{
  display:block;
  margin:auto;
  justify-content: center;
  align-items: center;
  width: 500px;
  height:350px;
  padding-top: 100px;
  
 
}

.form-style{
  text-align: center;
  align-content: flex-start;
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) { 

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) { 
  
}