body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* LAYOUT VIEW */
.upnav img {
  height: 50px;
}

.downnav img {
height: 50px;
}

.logo{
  height: 70px;
}

/*PROFILE VIEW*/
.profile-pic{
  height: 300px;
}

.input {
border-style: none;
}
