* {
  margin: 0 auto;
}
/* GENERAL */

html {
  background-color: #ffffff;
  background-image: url("../images/backgrounds/45degreee_fabric.png");
}
body {
  
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #00B7FF;
}


/* LAYOUT HEADER */
header img {
  height: 200px;
  display: flex;
  align-items: center;
 
}

header {
  width: 100%
}

/* LAYOUT NAVBAR */
footer {
  display: flex;
  justify-content: space-around;
}
footer img {
  height: 40px;
}
/* .navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.658);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 300px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
.main {
  padding: 16px;
  margin-bottom: 30px;
} */

/*HOME*/
.greet {
  font-size: 1.75rem;
  margin: 20px;
  text-align: center;
}

.navHome {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  
}
.navHome a {
  text-decoration: none;
  color: black;
  
}
/* MYITEMS*/
.h2myitems {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  
}
.divitem {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
}
.divitem img {
  height: 200px;
}
.divitem p {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 20px; 
}
.descript {
  font-size: 1rem;
  margin-top: 40px;
  margin-bottom: 20px; 
}

.custom-file-input-mi {
  color: transparent;
}
.custom-file-input-mi::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-mi::before {
  text-align: center;
  content: 'Upload an image';
  color: rgb(255, 255, 255);
  display: inline-block;
  background:  #828ea8;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-weight: 700;
  font-size: 10pt;
  margin-left: 30%;
  
}
.custom-file-input-mi:hover::before {
  border-color: black;
}
.custom-file-input-mi:active {
  outline: 0;
}
.custom-file-input-mi:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.button {
  background-color: #61abe7;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 40%;
}

.addForm {
  margin-top: 40px;
  text-align: center;
}

.addForm p {
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-align: center;
}

.form-div {
  margin-top: 30px 0;
  display: flex;
  flex-direction: column;
  
  
 
}
/* MARKETPLACE VIEW */
.h2market {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;  
}
.marketitems {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.507);
}
.marketitems img {
  height: 200px;
  
}
.marketitems p {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
  
}


/*/*PROFILE VIEW*/
/* .profile-pic{
  height: 300px;
}

.input {
border-style: none;
} */

.profile img {
height: 250px ;
display: flex;
justify-content: center;
margin-bottom: 20px;
}
.button {
  background-color: #61abe7;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 40%;
}

.updateForm {
  margin-top: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}

.addForm p {
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-align: center;
}

.form-div {
  margin-top: 30px 0;
  display: flex;
  flex-direction: column;
  
  
 
}
.profile-form{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  

  
}

/*PROFILE*/
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select a photo';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

/* body {
  padding: 20px;
} */

/*OTHER USER*/

.h2-style{
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;  
}

.name-style{
  text-align: center;  
  margin: 10px;
}

.description-style{
  margin: 10px;
  text-align: center;
}

.img-user-other {
  /* height: 200px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


/*ITEM DETAILS*/


/* .h2-style{
  font-size: 2.4rem;
  text-align: center;

  
} */

.img-item-style{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 50%;
  height: 50%;
  
}

.item-style{
  display:block;
  margin:auto;
  align-items: center;

  
  text-align: center;
}
 


.links{
margin-top: 20px;
font-size: 15px;
  
}


/*REQUEST*/

font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 20px; 


.img-request{
  display:block;
  margin-left: auto;
  margin-right: auto; 
  width: 100%;
  height:100%;
  
}

.form-style{
  text-align: center;
  align-content: flex-start;
  
}

@media (min-width: 768px) { 

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) { 
  
}