<!-- ITEM DETAIL VIEW -->


<h2 class="h2-style">Item Details</h2>


<div class="img-item">
<p >{{item.name}}</p>


<img  src={{item.image}} alt="">
</div>

<br>
<br>
<a href="/request" button type="submit"> Request Item</button></a>
<br>
<a href="/other-user/{{item.userId}}" button type="submit"> See User info</button></a>
    