
<a href=""><img src="" atl= "imagen boton atrás" </a>

<img src="" alt="LOGO"> 
<p>Gift me!</p>

<a href=""><img src="" atl= "imagen boton perfil + logout" </a>



<div>


<img src="Imagen del item seleccionado" alt="">
<h3> nombre del item seleccionado</h3> 
<p>descripcion del item</p>

</div>

<div>

<img src="imagen del otro usuario al que corresponde el item" alt="">
<p>nombre del usuario</p>
<a href=""><img src="" atl= "imagen para ponerse en contacto con el usuario (REQUEST)" </a>

</div>
