<!-- ITEM DETAIL VIEW -->


<h2 class="h2-style">Item Details</h2>

<div class="item-style">

    <div class="links">
        <a href="/request" button type="submit"> Request Item</button></a>
        <a href="/other-user/{{item.userId}}" button type="submit"> See User info</button></a>
    </div>

    <img class="img-item-style" src={{item.image}} alt="">
    <p >{{item.name}}</p>
    <p>{{item.description}}</p>
    
</div>

