<!-- Marketplace -->
<h2>Marketplace</h2>
<div class="imgMarket">
   
    {{#each items}}

        <h3>{{name}}</h3>
        <p>Description: {{description}}</p>
       <div class="img-style">
        <a href="/details/{{_id}}"><img src="{{image}}" alt=""></a>
        <br>
        <br>
     </div>
    {{/each}}
</div>



