<!-- Marketplace -->
<h2 class="h2market">Marketplace</h2>
<div class="marketitems">
    {{#each items}}
        <div class="img-style">
            <p>{{name}}</p>
            <a href="/details/{{_id}}"><img src="{{image}}" alt=""></a>
            {{!-- <br>
            <br> --}}
        </div>
    {{/each}}
</div>



