<h2 class="h2myitems">My Items</h2>

<div class="divitem">
    {{#each item.myItems}}
        <div class="itemForm">
            <p>{{name}}</p>
            <img src="{{image}}"  alt=""> 
            <form action="/myitems/{{_id}}/delete" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    {{/each}}
</div>

<!-- CREATE FORM -->

<form action="/item/create" method="post" enctype="multipart/form-data">
    <label  for="" >Image:</label>
    <input type="file" name="image" />   
    <br>
    <label for=""> Name: </label>
    <input type="text" name="name"/>
    <br>
    <label for="">Description:</label>
    <textarea type="text" name="description"></textarea> 
    <br>
    <button type="submit">Add item</button>
</form>



<!-- UPDATE FORM -->

{{!-- <form action="/item/update" method="post" enctype="multipart/form-data">

    <label for="">Name:</label>
    <input type="text" name="name"/>

    <img src="" alt="">

     <label  for="">Image:</label>
    <input type="file" name="image" />   

    <label for="">Description:</label>
    <textarea type="text" name="description" ></textarea> 

    <button type="submit">Update item</button>

</form> --}}








 
