{{item.name}}


{{#each item.myItems}}

{{this.name}}

<img src='../images/{{this.image}}' alt="holi"> 


{{/each}}


<h2>My Items</h2>





<form action="/item/create" method="post">

 
    <label for="">Name:</label>
    <input type="text" name="name" />


     <label  for="">Image:</label>
    <input type="file" name="image" />   





    <label for="">Description:</label>
    <textarea type="text" name="description"></textarea> 


    <button type="submit">Add item</button>
</form>








 
