<a class="logoarrow" href="/"><img src="../images/pngegg.png" alt="logoArrow" height="30px"></a>
<h2 class="h2">My Items</h2>
<div class="divitem">
    {{#each item.myItems}}
        <div class="itemForm">
            <h4 class="nametag">{{name}}</h4>
            <img src="{{image}}"  alt=""> 
            <p class="descrip">{{description}}</p>
            <form action="/myitems/{{_id}}/delete" method="post">
                <button class="button" type="submit">Delete</button>
            </form>
        </div>
    {{/each}}
</div>

<!-- CREATE FORM -->
<div class="addForm">

    <p>Add your items!</p>
    
    <form action="/item/create" method="post" enctype="multipart/form-data">
        <div class="form-div">
            <input type="file" name="image" class="custom-file-input-mi" />    
            
            <input type="text" name="name" placeholder="Name"/>
              
            <textarea type="text" name="description" placeholder="Description"></textarea> 
        </div>   
        <button class="myButton" type="submit">Add item</button>
    </form>
</div>


<!-- UPDATE FORM -->

{{!-- <form action="/item/update" method="post" enctype="multipart/form-data">

    <label for="">Name:</label>
    <input type="text" name="name"/>

    <img src="" alt="">

     <label  for="">Image:</label>
    <input type="file" name="image" />   

    <label for="">Description:</label>
    <textarea type="text" name="description" ></textarea> 

    <button type="submit">Update item</button>

</form> --}}








 
