<!-- OTHER USER VIEW -->
<h2 class="h2-style"> Item owner</h2>
<div>
    
    <img class="img-user" src="{{user.image}}" alt="Image">
  
   <br>
    <div class="name-style">
    <label  for=""> Hi! I am {{user.name}}</label>
     </div>
    <br>
    <div class="description-style">
    <label for="">{{user.description}}</label>
    <br>

    </div>
    
   
</div>


