<!-- OTHER USER VIEW -->

<div>

    <img src="{{user.image}}" alt="Image">
    <br>
    <br>
    <label  for="">Name:{{user.name}}</label>
    <br>
    <label for="">Description:{{user.description}}</label>
    <br>
   
</div>


