<!-- OTHER USER VIEW -->
<h2 class="h2-style"> Item owner</h2>
<div>
    
    <img class="img-user-other" src="{{user.image}}" alt="Image">
  
    <div class="name-style">
        <p> Hi! I am {{user.name}}</p>
    </div>
 
    <div class="description-style">
        <p>{{user.description}}</p>
   </div>
     
</div>


