<!-- OTHER USER VIEW -->
<a class="logoarrow" href="/marketplace"><img src="../images/pngegg.png" alt="logoArrow" height="30px"></a>
<h2 class="h2-style"> {{user.name}}</h2>
<div class="otherudata">
    
    <img class="img-user-other" src="{{user.image}}" alt="Image">
  
    <div class="name-style">
        <p> Hi! I am {{user.name}}</p>
    </div>
 
    <div class="description-style">
        <p>{{user.description}}</p>
   </div>
     
</div>


