
<a href=""><img src="" atl= "imagen boton atrás" </a>

<img src="" alt="profile image"> 


<a href=""><img src="" atl= "imagen boton perfil + logout" </a>

<h3>Nombre</h3>

<div>

<p>Other items</p>

<img src="lista de imagenes con anchor tag." alt="">



</div>

