{{!-- PROFILE VIEW --}}
<a class="logoarrow" href="/"><img src="../images/pngegg.png" alt="logoArrow" height="30px"></a>
<section class="profile">
        <form  class="container" action="/profile/update" method="post" enctype="multipart/form-data">
            
                <img class="profile-pic" src="{{user.image}}" alt="">               
                <input type="file" id="inputfile" name="image" value="{{user.image}}" class="custom-file-input-mi"/>
                <label for="name" >Name</label>  
                <input class="input" type="text" name="name"  value="{{user.name}}"/>
                <label for="description" >Add a description</label>    
                <textarea class="input" type="text" name="description">{{user.description}}</textarea>   
        
        <button type="submit" class="myButton">Update profile</button>
</form>
</section>