
<section class="profile">

    <form  action="/profile/update" method="post" enctype="multipart/form-data">
        <img class="profile-pic" src="{{user.image}}" alt="">
        <br>
        <label  for="label"></label>
        <input type="file" name="image" value="{{user.image}}" class="custom-file-input"/>
        <br>   
        <br>
        <label  for="">Name:</label>
        <input class="input" type="text" name="name" value="{{user.name}}"/>
        <br>
        <label for="">Description:</label>
        <textarea class="input" type="text" name="description">{{user.description}}</textarea>
        <br>
        <br>
        <button type="submit">Update profile</button>
    </form>

</section>