{{!-- PROFILE VIEW --}}

<section class="profile">
        <form  class="container" action="/profile/update" method="post" enctype="multipart/form-data">
            
                <img class="profile-pic" src="{{user.image}}" alt="">               
               
                <input type="file" id="inputfile" name="image" value="{{user.image}}" class="custom-file-input"/>
               
                <input class="input" type="text" name="name"  value="{{user.name}}"/>
                       
                <textarea class="input" type="text" name="description">{{user.description}}</textarea>   
        </form>
        <button type="submit" class="myButton">Update profile</button>

</section>