



<form action="/profile/update" method="post">

    <img src="{{user.image}}" alt="">


     <label  for="">Image:</label>
    <input type="file" name="image" value="{{user.image}}"/>   


    <label for="">Name:</label>
    <input type="text" name="name" value="{{user.name}}"/>



    <label for="">Description:</label>
    <textarea type="text" name="description">{{user.description}}</textarea>


    <button type="submit">Update profile</button>
</form>
