
<a href=""><img src="" atl= "imagen boton atrás" </a>

<img src="" alt="LOGO"> 
<p>Gift me!</p>

<a href=""><img src="" atl= "imagen boton perfil + logout" </a>




<div>

<a href="imagen que enlaza con el other user profile"></a>

<img src="Imagen del item seleccionado" alt="">
<h3> nombre del item seleccionado</h3> 


</div>

<div>

<form action=""></form>


</div>
