<!-- REQUEST VIEW -->
  
<div class="request">

  <img id="theimg" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/socialmedia/apple/237/envelope_2709.png" alt=""> 
  <p class="request">Make a request to the owner!</p> 
  
  <form class="form-style">

    <p id="deliveryp">Delivery option:</p>
    <div class="radio">
      <label><input type="radio" name="delivery" value="Pick up" >Pick up</label>
    </div>
    <div class="radio">
      <label><input type="radio"  name="delivery" value="Send" >Send it to me</label>
    </div>
    {{!-- <label for="">Message</label> --}}
     <textarea type="text" name="description" placeholder="Message"></textarea> 

  </form>
</div>

<!-- PARTE CÓDIGO MODAL BOTÓN REQUEST -->
<div class="form-style">
<!-- Trigger/Open The Modal -->
<button id="myBtn" class="button">Request item</button>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Thanks for your request. The owner will get in contact with you soon!</p>
    <img src="https://media1.tenor.com/images/d2808755385e11787f3f41b1e6807be5/tenor.gif" alt="">
  </div>
</div>
</div>

<script src="../src/modal.js"></script>