

<div>

<a href="imagen que enlaza con el other user profile"></a>

<img src="Imagen del item seleccionado" alt="">
<h3> nombre del item seleccionado</h3> 


</div>

<div>

<form action=""></form>



<form action="/profile/update" method="post">
    <label for="">Delivery option:</label>
    <input type="text" name="delivery option">

     <label for="">Message</label>
    <input type="text" name="Message">



    <button type="submit">Make a request</button>
</form>



</div>
