

<div>

<a href="imagen que enlaza con el other user profile"></a>

<img src="Imagen del item seleccionado" alt="">
<h3>Make a request to the owner!</h3> 


</div>

<div>

<form action=""></form>



<form action="/profile/update" method="post">
    <label for="">Delivery option:</label>
    <input type="text" name="delivery option">
<br>
<br>
     <label for="">Message</label>
    <input type="text" name="Message">

<br>
<br>

    <button type="submit">Request</button>
</form>



</div>
